services:
  server:
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: server
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
      - PORT=8080
    read_only: true
    init: true
    tmpfs:
      - /tmp
    restart: unless-stopped
